/*clear,clearfix是清楚浮动的----clearfix用法是：给浮动元素的父级添加class="clearfix"，即可清楚子元素的浮动，目前是业内比较流行的清楚浮动方法。*/
.clear{ clear:both;zoom:1;height:0;font-size: 1px;line-height: 0px;text-indent:-9999px;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {zoom:1;display:block;}

.font14{ font-size:14px;}
.font16{ font-size:16px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}

.fl{ float:left;}
.fr{ float:right;}

.search_newlist_main{width:990px;margin:0 auto}
/*删选条件*/
.search_newlist_main .newlist_sx{width:942px;margin:0 auto;border-left:1px #e5e5e5 solid;border-right:1px #e5e5e5 solid;border-bottom:1px #e5e5e5 solid;border-top:4px #e5e5e5 solid;padding:0 23px 5px 23px;}
/*职位类别*/
.newlist_sx .newlist_list{border-bottom:1px #dedede solid}
.newlist_sx .search_newlist_topleft{width:158px;}
.newlist_sx .search_newlist_topleft span.newlist_topleft_zwlb{width:65px;line-height:24px;display:inline-block;color:#999999}
.newlist_sx .search_newlist_topleft a{color:#333333}
.newlist_sx .search_newlist_topmain{width:728px}
.newlist_sx .search_newlist_topmain a{display:inline-block;margin-right:13px;line-height:24px;color:#333333;padding-bottom:5px}
.newlist_sx .search_newlist_toplast{width:14px;height:14px;margin-top:34px}
.newlist_sx .search_newlist_toplast a{display:block;background:url(../images/newlist_listdown.jpg) no-repeat 0 0;width:14px;height:14px}
/*工作地区,热门地区,地铁沿线,职位标签*/
.newlist_sx .newlist_list1{border-bottom:1px #dedede dotted;}
.newlist_sx .newlist_list1_zk{}
.newlist_sx .search_newlist_topleft1{width:70px;}
.newlist_sx .search_newlist_topleft1 span.newlist_topleft_zwlb1{width:65px;line-height:34px;display:inline-block;color:#999999}
.newlist_sx .search_newlist_topleft1 a{color:#333333}
.newlist_sx .search_newlist_topmain1{width:830px;height:34px;overflow:hidden}
.newlist_sx .search_newlist_topmain1 a{display:inline-block;margin-right:13px;line-height:34px;color:#333333;}
.newlist_sx .search_newlist_topmain2{width:810px;overflow:hidden}
.newlist_sx .search_newlist_topmain2 a{display:inline-block;margin-right:13px;line-height:34px;color:#333333;}
.newlist_sx .search_newlist_toplast1,.newlist_sx .search_newlist_toplast2{width:14px;height:14px;margin-top:10px;}
.newlist_sx .search_newlist_toplast1 a,.newlist_sx .search_newlist_toplast2 a{display:block;background:url(../images/newlist_listdown.jpg) no-repeat 0 0;width:14px;height:14px}
.newlist_sx .newlist_list1_zk .search_newlist_mainwrap{border:1px #3e7cd4 solid;padding:10px 22px 10px 12px;}
.newlist_sx .newlist_list1_zk .search_newlist_mainwrap span{line-height:31px;color:#ff9900;margin-left:5px}
.newlist_sx .newlist_list1_zk .search_newlist_mainwrap a{line-height:31px;color:#333333}
.newlist_sx .newlist_list1_zk .search_newlist_mainwrap a.xzbold{color:#3359ac;font-weight:bold}
/*更多搜索条件*/
.newlist_sx .moresearch_left{width:84px;line-height: 42px;color:#999999}
.newlist_sx .moresearch_main{width:760px;padding-top:10px}
.newlist_sx .moresearch_main li{width:120px;height:24px;float:left;text-align:center;position:relative;z-index:9}
.newlist_sx .moresearch_main li.moresearch_main_li{width:144px}
.newlist_sx .moresearch_main li p{width:120px;height:24px;line-height:24px;text-align:center;border:1px #417ed5 solid;border-left:none; cursor:pointer;background:url(../images/search_xialaimg_12.jpg) no-repeat 100px center}
.newlist_sx .moresearch_main li.moresearch_main_li p{width:144px;background:url(../images/search_xialaimg_12.jpg) no-repeat scroll 125px center transparent}
.newlist_sx .moresearch_main li p.moresearch_main_select{border-left:1px #417ed5 solid;background:url(../images/search_xialaimg_12.jpg) no-repeat 90px center}
.newlist_sx .moresearch_main li div{width:112px;border:1px #dddddd solid;padding-left:7px;display:none;position:absolute;left:0;top:26px;z-index:9999999;background:#FFF}
.newlist_sx .moresearch_main li.moresearch_main_li div{width:137px}
.newlist_sx .moresearch_main li div a{display:block;line-height:20px;height:20px;text-align:left;color:#333333}
.newlist_sx .moresearch_main li div a:hover{font-weight:bold;color:#3558ac}
.newlist_sx .moresearch_last{width:155px;line-height:42px}
.newlist_sx .moresearch_last a{color:#3359ac;text-decoration:underline}
/*选中条件*/
.seach_yx{ padding: 15px 0 15px 0;}
.seach_yx a.seach_yx_new{padding-left:4px;margin-right:7px;line-height:18px;height:18px;padding-right:25px;background:url(../images/search_yximg.jpg) no-repeat right center;border:1px #3f7dd4 solid}
.seach_yx span.search_yx_tj{display:inline-block;color:#333333;padding-right:21px;border:none;margin: 0;}
.seach_yx span.search_yx_tj em{ color: #ff0000;font-weight: bold;}
.seach_yx a{display:inline-block;color:#3359ac;}
.seach_yx a em{padding:0;color:#ff0000}
.seach_yx a.search_ybc{margin-right:21px;background:url(../images/search_xialaimg_12.jpg) no-repeat right center;padding-right:10px;}
.seach_yx a.search_ybc_hover{margin-right:21px;background:url(../images/search_xialahoveimg.jpg) no-repeat right center;padding-right:10px;}
.seach_yx .search_teshu{position:relative;z-index:8;cursor:pointer;*margin-left:5px;display:inline-block}
.seach_yx .search_teshu ul{background:#FFF;position:absolute;left:-268px;top:16px;*top:30px;width:300px;padding:5px 15px;border:1px #dddddd solid;display:none;z-index:999}
.seach_yx .search_teshu ul li{line-height:20px;}
.seach_yx .search_teshu ul li a{display:block;float:left}
.seach_yx .search_teshu ul li span{width:6px;height:6px;background:url(../images/search_ybg_closeimg.jpg) no-repeat right center;display:block;float:right;margin-top:7px}
.seach_yx a.search_demil{margin-right:21px;padding-left:20px;background:url(../images/search_emilalogo_07.jpg) no-repeat 0 center}
.seach_yx a.search_cztj{background:url(../images/search_czlogo_09.jpg) no-repeat 0 center;padding-left:20px;}
.seach_yx a.search_sqtj{padding-left:20px;float: right;*float:none;*margin-left:270px}
/*选项卡切换*/
.newlist_main{}
.newlist_wrap{width:853px;}
/*按钮组*/
.newlist_top{background:url(../images/search_newlist_xxkbg_03.jpg) repeat-x 0 bottom;}
.newlist_top .newlist_top_left{width:430px;}
.newlist_top .newlist_top_left a{width:103px;display:inline-block;line-height:28px;height:28px;text-align:center;background:#3e7cd4;font-size:12px;color:#ffffff; position:relative;}
.newlist_top .newlist_top_left a img{ position:absolute; top:-10px; right:4px;}
.newlist_top .newlist_top_left a.xxk{background:none;border:1px #3e7cd4 solid;border-bottom:1px #fff solid;width:101px;height:28px;line-height:28px;color:#333333}
.newlist_top .newlist_top_right{width:180px;line-height:28px;text-align:right}
.newlist_top .newlist_top_right span{display:inline-block;line-height:27px}
.newlist_top .newlist_top_right a{display:inline-block;line-height:27px;color:#333333}
.newlist_top .newlist_top_right a.newlist_alist{background:url(../images/newlist_alist.jpg) no-repeat 0 center;padding-left:20px}
.newlist_top .newlist_top_right a.newlist_alist_hover{background:url(../images/newlist_alisthover.jpg) no-repeat 0 center;padding-left:20px}
.newlist_top .newlist_top_right a.newlist_awrap{background:url(../images/newlist_awrap.jpg) no-repeat 0 center;padding-left:20px}
.newlist_top .newlist_top_right a.newlist_awrap_hover{background:url(../images/newlist_awraphover_03.jpg) no-repeat 0 center;padding-left:20px}
/*列表页*/
.newlist_list .newlist_list_top{background:#f6f6f6;padding:10px 0}
.newlist_list .newlist_list_top input{margin-left:10px;margin-right:3px;width:15px;height:15px;display:block;float:left;margin-top:8px}
.newlist_list .newlist_list_top span{width:30px;float:left;margin-top:8px}
.newlist_list .newlist_list_top a{display:block;width:90px;line-height:28px;height:28px;text-align:center;font-size:14px;;font-weight:bold;float:left}
.newlist_list .newlist_list_top a.newlist_sqzw{background:url(../images/newlist_sqzwbg_17.jpg) no-repeat 0 0;color:#fff;margin-right:3px}
.newlist_list .newlist_list_top a.newlist_sczw{background:url(../images/newlist_sczwbg_19.jpg) no-repeat 0 0;color:#333333}
.newlist_list_content .newlist{border-bottom:1px #ccc dotted}
.newlist_list_content .newlist th{font-weight:bold;font-size:12px;color:#333333;line-height:30px;border-bottom:1px #dddddd solid;text-align:left;}
.newlist_list_content .newlist .zwmc{width:350px}
.newlist_list_content .newlist th.zwmc span{ padding-left:30px;color:#333333;}
.newlist_list_content .newlist .gsmc{width:210px;padding:0}
.newlist_list_content .newlist .zwyx{width:100px;padding:0}
.newlist_list_content .newlist .gzdd{width:95px;padding:0}
.newlist_list_content .newlist .gxsj{width:95px;padding: 0;padding-left: 20px;}
.newlist_list_content .newlist b{ color: red;}
.newlist_list_content .newlist tr{height:30px}
.newlist_list_content .newlist td{color:#333333;font-size:12px;padding:10px 0;line-height:20px;*padding:4px 0}
.newlist_list_content .newlist td a{color:#333333;font-size:12px;}
.newlist_list_content .newlist td.zwmc a{margin-top:-2px;color:#3359AC}
.newlist_list_content .newlist td.zwmc a:hover{color:#3359AC}
.newlist_list_content .newlist td.zwmc a:visited{color:#660033}
.newlist_list_content .newlist td.gsmc a:visited{color:#996666}

.newlist_list_content .newlist li.zwmc a:visited{color:#660033}
.newlist_list_content .newlist li.gsmc a:visited{color:#996666}

.newlist_list_content .newlist td input{margin:0 8px;width:15px;height:15px;float:left;display:block}
a.newlist_list_xlbtn{width:14px;height:14px;display:inline-block;background:url(../images/newlist_listdown.jpg) no-repeat 0 0;margin-left:10px;}
.newlist_list_content .newlist td a.newlist_list_xlbtnhover{width:14px;height:14px;display:inline-block;background:url(../images/newlist_listup.jpg) no-repeat 0 0;margin-left:10px;}
/*详情*/
.newlist_list_content .newlist_detail{}
.newlist_list_content .newlist_detail ul{width:714px;float:left}
.newlist_list_content .newlist_detail li.newlist_deatil_first{color:#3359ac;font-weight: bold;padding: 10px 0}
.newlist_list_content .newlist_detail li input{margin-right:10px;margin-left:10px;float: left}
.newlist_list_content .newlist_detail li.newlist_deatil_two{padding-left:33px;}
.newlist_list_content .newlist_detail li span{color:#9e9e9e;line-height:27px;margin-right:15px}
.newlist_list_content .newlist_detail li.newlist_deatil_last{line-height:18px;padding-top:8px;color:#333333;padding-left:33px;height: 60px;}
.newlist_list_content .newlist_detail dl{float:right;width: 90px;margin-right:23px}
.newlist_list_content .newlist_detail dl p{ text-align: center;padding:10px 0}
.newlist_list_content .newlist_detail dt{margin-bottom:13px;margin-top:10px}
.newlist_list_content .newlist .newlist_detail dt{margin-top:10px;margin-bottom:10px}
.newlist_list_content .newlist .newlist_detail li.newlist_deatil_last{padding-top:0;}
.newlist_list_content .newlist_detail li.newlist_deatil_three{padding-left:33px;*padding-left: 40px;padding-bottom:10px;}
.newlist_list_content .newlist_detail li.newlist_deatil_three a{ color: #000;}
/*列表区域右侧图片广告*/
.newlist_right_code{width:118px;margin-top:4px}
.newlist_right_code a{margin-bottom:10px;display:block}
/*选中效果*/
.newlist_sx a.xz{color:#3359ac;}
.newlist_sx a.xzbold{color:#3359ac;font-weight:bold}
/*地铁折叠*/
.newlist_metroswitch{display: inline-block;padding-right: 10px;position:relative;z-index:10;margin-top:10px}
.newlist_metroswitch .db_nav{position:absolute;width:800px;padding:10px;border:1px solid #DDD;left:-760px;background:#fff;z-index:-1;display:none;top:15px}
.newlist_metroswitch .db_nav p a{padding:0;font-weight:normal;color:#666;display;block;wdith:20px;height:20px;width:20px;float:left;border:1px solid #CACACA ;margin-right:6px;text-align:center;line-height:20px;font-family:Arial}
.newlist_metroswitch .db_nav p a:hover{background:#DADADA;text-decoration:none}
.newlist_metroswitch h1 {padding-top:10px}
.newlist_metroswitch h1 a{display:inline-block;line-height:24px;height:24px;padding-right:8px;color:#05A;font-weight:normal}
.newlist_metroswitch h1 a:hover {color: red;}
.newlist_metroswitchup {background: url(../images/arrowDown.gif) 55px center no-repeat;padding-right: 18px;font-weight: bold;color:#3359ac;display:inline-block;}
.newlist_metroswitchdown {background: url(../images/arrowup.gif) 55px center no-repeat;padding-right: 18px;font-weight: bold;color:#3359ac;display:inline-block;}
.newlist_reset{color:#fff;margin-top:25px;margin-right:30px;padding-left:15px;background: url(../images/returnback.png) left no-repeat;}
/*已保存提示*/
.relucss_tc{height:60px;line-height:60px;width:250px;border:2px #ccc solid;color:#333;text-align:center;position:absolute;top:350px;left:50%;margin-left:-75px;z-index:999999;background:#fbed90;display:none;font-size:16px;font-weight:bold}

/*反馈通*/
.c_fkt_ico{ display:inline-block; width:61px; height:16px;background: url(http://img01.zhaopin.cn/2014/rd2/img/c_fkt_ico.png) no-repeat; margin-left:5px; vertical-align:middle;}
.c_fkt_ico:hover{ background-position:left -17px;}